# 编译与系统生成目录
.codegraph
build/
install/
log/
__pycache__/
*.o
# *.so

# 其他文件和文件夹
PCD
*.svg
frames_2026-07-20_09.36.01*
rosgraph*
planner

# 大型二进制文件与深度学习模型
*.pt
*.pth
*.onnx
*.weights
*.engine
.vscode
*.pcd

.claude/
.codex
CLAUDE.md
